@model List<CategoryDto>

@if (@Model !=null && @Model.Count != 0)
{
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Category Table</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            button {
                padding: 5px 10px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <h2>Category Table</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Create Date Time</th>
                    <th>Add</th>
                    <th>Get</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in @Model)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td> @category.Name</td>
                        <td>@category.Description</td>
                        <td>@category.CreateDateTime.ToString("g")</td>
                        <td>
                            <a href="@Url.Action("Add", "Category")" class="btn btn-primary">Add Category</a>
                        </td>
                        <td>
                            <a  href="@Url.Action("GetCategory", "Category", new { categoryId = category.Id })" class="btn btn-primary">Get Category</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Update", "Category",new {categoryId = category.Id})" class="btn btn-primary">Edit Category</a>
                        </td>
                        <td>
                            <a  href="@Url.Action("Delete", "Category",new {categoryId = category.Id})" class="btn btn-danger">Delete Category</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
}
else
{
    <h2>There is no categories
        /br 
        If you gonna add categories, Click the button
    </h2>

    <a href="@Url.Action("Add", "Category")" class="btn btn-primary">Add Category</a>

    
}
